.profile__profession {
  height: 22px;
  width: 415px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.14;
  margin-top: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 879px) {
  .profile__profession {
  width: 282px;
  margin: 14px auto 0;
  text-align: center;
  }
}