body {
  background-color: #000000;
}

.page {
  max-width: 1280px;
  margin: auto;
  font-family: Inter;
  box-sizing: border-box;
  }

@media screen and (max-width: 879px) {
  .page {
    max-width: 320px;
  }
}